<?xml version="1.0"?>
<pnp:Provisioning xmlns:pnp="http://schemas.dev.office.com/PnP/2019/03/ProvisioningSchema">
  <pnp:Preferences Generator="OfficeDevPnP.Core, Version=3.13.1909.0, Culture=neutral, PublicKeyToken=5e633289e95c321a" />
  <pnp:Templates ID="CONTAINER-TEMPLATE-4F451C46F6C6439FB1D60636C9021578">
    <pnp:ProvisioningTemplate ID="TEMPLATE-4F451C46F6C6439FB1D60636C9021578" Version="1" BaseSiteTemplate="GROUP#0" Scope="RootSite">
      <pnp:TermGroups>
        <pnp:TermGroup Name="System" ID="a7af40f5-f623-46c6-a215-a508444bc99b" Description="These term sets are used by the system itself." UpdateBehavior="Overwrite">
          <pnp:TermSets>
            <pnp:TermSet Name="Hashtags" ID="3ceb0050-69a1-40e7-a427-83e2fac80c27" Description="This term set contains all of the terms that have been used as hashtags." IsOpenForTermCreation="true" />
            <pnp:TermSet Name="Keywords" ID="29ec143c-d681-4bf6-9dcb-6a0d3f619e72" Description="This term set contains all of the terms that have been used as keywords that are not in existing term sets." IsOpenForTermCreation="true" />
          </pnp:TermSets>
        </pnp:TermGroup>
      </pnp:TermGroups>
    </pnp:ProvisioningTemplate>
  </pnp:Templates>
</pnp:Provisioning>